@model GabenShop.WebUI.Models.CartIndexViewModel

@{
    ViewBag.Title = "GabenShop: ваша корзина";
}

@*<style>
        #cartTable td {
            vertical-align: middle;  https://professorweb.ru/my/ASP_NET/gamestore/level2/2_6.php
        }
    </style>*@
<h2>Ваша корзина</h2>
<table class="table">
    <thead>
        <tr>
            <th>Кол-во</th>
            <th>Игра</th>
            <th class="text-right">Цена</th>
            <th class="text-right">Общая цена</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.Name</td>
                <td class="text-right">@line.Product.Price.ToString("# руб")</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.Price).ToString("# руб"))
                </td>
                <td>
                    @using (Html.BeginForm("RemoveFromCart", "Cart"))
                    {
                        @Html.Hidden("ProductID", line.Product.ProductID)
                        @Html.HiddenFor(x => x.ReturnUrl)
                        <input type="submit" value="Удалить" />
                    }
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Итого:</td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("# руб")
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Продолжить покупки</a>
    @Html.ActionLink("Оформить заказ", "Checkout", null, new { @class = "btn btn-primary"})<!--Удалить класс-->
</div>