@model GabenShop.Domain.Entities.Product
<li>
    <div class="img"><a href="#"><img alt="" src="#"></a></div>
    <div class="info">
        <a class="title" href="#">@Model.Name</a>
        <p>@Model.Description</p>
        <div class="price">
            <span class="st">Цена:</span><strong>@Model.Price.ToString("# руб")</strong>
        </div>
        <div class="actions">
            <a href="#">Детали</a>
            @using (Html.BeginForm("AddToCart", "Cart"))//Это для добавления кнопки корзины
            {
                <div>
                    @Html.HiddenFor(x => x.ProductID)
                    @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                    <input type="submit" value="Добавить в корзину" />
                </div>
            }
        </div>
    </div>
</li>
