@model GabenShop.WebUI.Models.Login

@{
    ViewBag.Title = "Login";
}

@using (Html.BeginForm())
{
 <div id="regist">
    @Html.Hidden("returnUrl", (string)ViewBag.ReturnUrl)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <ul>
        Логин
        <li>
            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "registIn", pattern = "[a-zA-Z0-9]{0,40}", required = "required" } })
            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
        </li>
        Пароль
        <li>
            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "registIn", pattern = "[a-zA-Z0-9]{0,40}", required = "required" } })
            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger"})
        </li>
    </ul>
    <input type="submit" value="      Войти      " id="submit" />
 </div>
}